.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite .2s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.products{
  position: absolute;
  top: 200px;;
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: stretch;
  align-content: space-around;
  box-sizing: border-box;
}
.product_card{
  height: 650px;;
  width: 250px;
  margin: 15px;
  border: 1px black solid;
  box-sizing: border-box;
}
.product_card img{
  height: 60%;
  width: 100%;
}
.product_card p{
  display: inline-block;
  margin-right: 10px;
}
.product_card h1{
  height: 72px;
}
.wishes{
  position: relative;
  top: 1400px;
}

.cart_row{
  margin: 20px;
  border: 2px solid black;
  height: 100px;;
}

.cart_row img{
  height: 100%;
  float: left;
  width: 100px;
}
.cart_row p{
  display: inline-block;
  margin: 20px;
  margin-top: 35px;
}
.cart_row input{
  width: 50px;
}
.remove_btn{
  height: 50px;
  width: 150px;
  white-space: normal;
  float: right;
  margin: 25px 10px 0 0;
}